<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Office way | Home</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">

  <link href="css/home/style.css" rel="stylesheet">

</head>

<body>
  <div id="preloader"></div>

  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <h1><a href="#hero">Office Way</a></h1>
        </div>

        <h1>Welcome to our Office!</h1>
        <h2>We provide <span class="rotating">checking in!, checking out!, viewing stored records!</span></h2>
        <div class="actions">
          <a href="/checkin" class="btn-get-started">Checkin</a>
          <a href="/view" class="btn-services">View Records/Checkout</a>

        </div>
           
          


      </div>
    </div>
  </section>

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        
        <h1>Home</h1>
      </div>
    </div>
  </header>
  
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">

             <div>
            <a href="/logout" class="btn-services">Logout?</a>
              </div>
            &copy; Copyright <strong>Vaibhav</strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <script src="js/home/jquery/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="js/home/superfish/hoverIntent.js"></script>
  <script src="js/home/superfish/superfish.min.js"></script>
  <script src="js/home/morphext/morphext.min.js"></script>
  

  
  <script src="js/home/custom.js"></script>



</body>

</html>
