/* Base */
body {
  line-height: 1.7;
  color: #cfcfd1;
  font-weight: 300;
  font-size: 1rem;
  background: #232531;
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.border-2 {
  border-width: 2px; }

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.btn {
  text-transform: uppercase;
  letter-spacing: .2em;
  border-radius: 0; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.line-height-1 {
  line-height: 1 !important; }

.bg-black {
  background: #000; }


.site-section {
  padding: 1.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 0.5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading h2 {
  position: relative;
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .site-section-heading h2 {
      font-size: 3rem; } }
  .site-section-heading h2:after {
    content: "";
    left: 0%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(70%, #ff5733));
    background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
    background: -o-linear-gradient(left, #c70039, #ff5733 70%);
    background: linear-gradient(to right, #c70039, #ff5733 70%); }
    @media (min-width: 992px) {
      .site-section-heading h2:after {
        left: -20%; } }
  .site-section-heading h2.text-center:after {
    content: "";
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 2px; }


.border-top {
  border-top: 1px solid #edf0f5 !important; }


.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .bg-image.overlay {
    position: relative; }
    .bg-image.overlay:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7); }

  .bg-image > .container {
    position: relative;
    z-index: 1; }container


@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%; } }

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem; } }


/* Blocks */


.container-fluid {
  max-width: 1400px; }

.site-hero {
  margin-bottom: 10rem; }
  .site-hero, .site-hero .row {
    min-height: 700px;
    height: calc(100vh - 95px); }
  .site-hero.inner, .site-hero.inner .row {
    min-height: 400px;
    height: calc(50vh - 95px); }
  .site-hero h1 {
    font-size: 2rem;
    background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(70%, #ff5733));
    background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
    background: -o-linear-gradient(left, #c70039, #ff5733 70%);
    background: linear-gradient(to right, #c70039, #ff5733 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media (min-width: 992px) {
      .site-hero h1 {
        font-size: 6rem; } }
  .site-hero .caption {
    color: #fff; }
    @media (min-width: 768px) {
      .site-hero .caption {
        font-size: 1.7rem; } }

.btn-custom {
  text-transform: uppercase;
  color: #fff !important;
  background: #3f4046;
  padding: 16px 30px;
  display: inline-block;
  letter-spacing: .2em;
  position: relative; }
  .btn-custom > span {
    position: relative;
    z-index: 2; }
  .btn-custom:before {
    background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(70%, #ff5733));
    background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
    background: -o-linear-gradient(left, #c70039, #ff5733 70%);
    background: linear-gradient(to right, #c70039, #ff5733 70%);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 0;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    z-index: 1; }
  .btn-custom:hover:before {
    width: 100%; }

.custom-pagination a, .custom-pagination span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px; }
